// Colors
$color-primary: #171717;
$color-secondary: #525252;
$color-white: #ffffff;
$color-shadow: #d2d6db;

// Typography
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;

$font-weight-normal: 400;
$font-weight-semibold: 600;

$line-height-small: 20px;
$line-height-medium: 24px;
$line-height-large: 28px;

// Spacing
$spacing-xs: 12px;
$spacing-sm: 16px;
$spacing-md: 20px;
$spacing-lg: 24px;
$spacing-xl: 28px;

//Size
$xs: 12px;
$s: 16px;
$m: 24px;
$l: 36px;
$xl: 48px;

// Card
$card-width: 340px;
$card-border-radius: 8px;
$card-shadow: 0px 1px 1px 1px $color-shadow;

// Breakpoints
$breakpoint-mobile: 350px;
